*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(231, 231, 231);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}