*{
    margin: 0px;
    padding: 0px;
    color: white;
    font: normal 15pt sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 100vh;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font: normal 23pt sans-serif;
    margin-top: 35px;
}

p{
    font: normal 12pt sans-serif;
    margin-top: 20px;

}

img{
    width: 500px;
    height: 500px;
    border-radius: 10px
}

input{
    font: normal 10pt sans-serif;
    padding: 8px;
    margin-top: 17px;
    width: 95px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: black;
}
input:hover{
    background-color: orange;
}

.popUp{
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: black;
    justify-content: center; /* -> centraliza  Horizontalmente*/
    align-items: center; /* -> centraliza  Verticalmente*/
}

.pp-content{
    background: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
}

.pp-content video{
    width: 100%;
    height: auto;
}

.close-pp{
    cursor: pointer;
    float: right;
    color: white;
    font-size: 60px;
}


footer p{
    color: white;
    font-size: 10pt;
    text-align: center;
    font-style: italic;
    position: absolute;
    top: 95%;
    left: 80%;
    transform: translate(-50%, -50%);
}