*{
    margin: 0px;
    padding: 0px;
    color: white;
}

.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.popup-content{
    background: #000000;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
}

.popup-content video{
    width: 100%;
    height: auto;
}

.close-button{
    float: right;
    cursor: pointer;
    font-size: 80px;
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 100vh;
}

header{
    color: white;
    text-align: center;
}


section{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

h1{
    color: white;
    margin: 25px 0px 25px 0px;
    font: normal 23pt sans-serif;
}

p{
    color: white;
    font: normal 12pt sans-serif;
}

img{
    width: 550px;
    
}

input{
    color: black;
    border: none;
    border-radius: 5px;
    font: normal 11pt arial;
    padding: 8px;
    margin-top: 16px;
    cursor: pointer;
    width: 80px;
}

input:hover{
    background-color: orange;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}