body{
    margin: 0;
    background-color: rgb(75, 255, 210);
    font: normal 15pt Arial;
    height: 100vh;
    position: relative;
}

h2{
    text-align: center;
}

h2, label{
    font-family: "Courier New", monospace;
    font-weight: bolder;
    color: rgb(0, 102, 77);
}

section{
    background: rgb(177, 255, 235);
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    height: 270px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section div{
    margin: 30px 10px 35px 10px;
    display: flex;
    justify-content: space-between;
}

input{
    height: 30px;
    width: 210px;
}

label{
    font-size: 18px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}