body{
    margin: 0;
    background-image: linear-gradient(45deg, #00bfff3b, #50ff99);
    font: normal 15pt Arial;
    height: 100vh;
    position: relative;
}

*{
    font-family: "Courier New", monospace;
}

h2{
    text-align: center;
}

h2, label{
    
    font-weight: bolder;
    color: rgb(0, 102, 77);
}

section{
    background-image: linear-gradient(45deg, #c2f0ff93, #b3ffd3);
    border-radius: 10px;
    padding: 27px 15px 30px 15px;
    width: 450px;
    height: 270px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section div{
    margin: 30px 10px 35px 10px;
    display: flex;
    justify-content: space-between;
}

input{
    font: normal 17px monospace;
    color: rgb(0, 102, 77);
    padding: 0px 5px 0px 5px;
    height: 30px;
    width: 230px;
    border: 2px solid #a8e6cf;
    background-color: #f0fff4;
    outline: none;
}

input::placeholder{
    color: #88c9b9;
    font-style: italic;
}

label{
    font-size: 18px;
}

footer{
    color: rgb(0, 102, 77);
    text-align: center;
    font-style: italic;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}