.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    font: normal 15pt arial;
}

body{
    background: linear-gradient(to bottom right, rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 0, 255, 0.5));
    height: 100vh;
    font: normal 15pt Arial;
    position: relative;
}

header{
    color: white;
    text-align: center;
}

h1{
    font: bold 23pt 'Courier New', sans-serif;
    color: rgb(1, 128, 75);
}

div#input{
    margin: 20px 0px 20px 0px;
    
}

div label{
    font: bold 13pt 'Courier New', sans-serif;
    color: rgb(1, 128, 75);
}

input{
    color: rgb(1, 128, 75);
    font-size: 14pt;
    height: 35px;
    border-radius: 8px;
    border-color: rgba(128, 128, 128, 0.616);
    padding-left: 8px;
}

section{
    background: linear-gradient(to bottom right, rgba(250, 250, 205, 0.473), rgba(255, 255, 255, 0.308), rgba(198, 198, 255, 0.486));
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    height: 195px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#res{
    font: normal 13pt 'Courier New', sans-serif;
    color: rgb(0, 90, 53);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}