*{
    font: normal 19pt arial;
}

body{
    background-color: rgb(235, 235, 235);
}

header{
    color: white;
    text-align: center;
}

section{
    background: rgb(223, 222, 222);
    border-radius: 7px;
    padding: 15px;
    width: 370px;
    height: 380px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}

input{
    height: 40px;
    width: 350px;
    margin: 5px 5px 5px 5px;
    padding-left: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.37);
}

button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192);
}

button:hover{
    background-color: rgb(189, 189, 189);
}

.vermelho{
    border: none;
    color: white;
    background-color: rgb(255, 64, 64);
}

.azul{
    border: none;
    color: white;
    background-color: rgb(1, 122, 236);
}

.resultado{
    grid-row: span 3;
    height: 170px;
    border: none;
    color: white;
    background-color: rgb(48, 190, 48);
}


.grid{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: 50px;
    gap: 10px;
    width: max-content;
    margin: 20px auto;
}

footer p{
    font: lighter 10pt arial;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 400px;
}